/* @tailwind base;
@tailwind components;
@tailwind utilities; */
:host {
  position: relative;
}

:host h2 {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 20px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.footer-container p {
  font-size: 16px;
}

.footer-container .info {
  flex: 1.5;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px;
}

.footer-container .info .address {
  margin: 20px 0;
}

.footer-container .info .address h2 {
  margin: 0;
}

.footer-container .social-links {
  flex: 1;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.footer-container .social-links .links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-container .social-links .links a {
  text-decoration: none;
}

.footer-container .subscribe {
  flex: 1;
  padding: 30px;
}

.footer-container .subscribe form {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-container .subscribe form ::ng-deep .mat-mdc-text-field-wrapper {
  height: 40px !important;
}

.footer-container .subscribe form ::ng-deep .mat-mdc-form-field-flex {
  margin-top: -7px !important;
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
  }
  .footer-container .info {
    padding: 30px;
  }
  .footer-container .social-links {
    padding: 30px;
  }
  .footer-container .subscribe {
    padding: 30px;
  }
}
