<!-- <div class="container mx-auto border border-white">
    <h1 class="border">
        
    </h1>
</div> -->

<div class="footer-container">
    <div class="info">
        <!-- <h1><b>FOODLY</b></h1> -->
        <img src="../../assets/logo.png" alt="">
        <p>Foodly is a food delivery service that allows you to order food from your favourite restaurants and have it
            delivered to your doorstep.</p>

        <div class="address">
            <h2>Address</h2>
            <p>Level 1, 12 Sample St, Sydney NSW 2000</p>
        </div>
    </div>

    <div class="social-links">
        <h2>Social Links</h2>
        <div class="links">
            <a href="">Instagram</a>
            <a href="">Facebook</a>
            <a href="">Twitter</a>
        </div>
    </div>

    <div class="subscribe">
        <h2>Subscribe</h2>
        <p>Subscribe to our newsletter to get the latest updates on Foodly.</p>
        <form action="">
            <mat-form-field appearance="outline" style="height: 40px;">
                <input matInput type="email" placeholder="Email Address">
            </mat-form-field>
            <button mat-raised-button color="primary">Subscribe</button>
        </form>
    </div>
</div>