<div class="contact-banner">
    <h1>We would love to hear from you!</h1>
</div>

<div class="contact-form">
    <form action="">
        <mat-form-field appearance="outline">
            <mat-label>Problem</mat-label>
            <mat-select>
                <mat-option>How can we help you?</mat-option>
                <mat-option value="i need help with my online order">I need help with my online order</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput type="text" autocomplete="off" required />
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput type="text" autocomplete="off" required />
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Phone</mat-label>
            <input matInput type="text" autocomplete="off" required />
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Message</mat-label>
            <textarea matInput name="" id="" cols="30" rows="10" required></textarea>
        </mat-form-field>

        <button mat-flat-button color="primary">Submit</button>
    </form>

    <div class="support-cards">
        <div class="emergency">
            <h2>Report a Safety Emergency</h2>
            <p>We are committed to the safety of everyone</p>
            <button mat-flat-button color="primary">Report Here</button>
        </div>
        <div class="support-card">
            <h2>Issue with your live order?</h2>
            <p>Click on the 'Support' or 'Online ordering help' section in your app to connect to our customer
                support team.</p>
        </div>
    </div>
</div>