:host {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    .menu-heading {
        margin: 20px 0 10px 0;
        text-align: left;
        background-color: rgb(255, 157, 0);
        padding: 10px 50px;
        color: white;
        font-size: 2rem;
        text-transform: uppercase;
        font-weight: 500;
        clip-path: polygon(0 0, 100% 0, 90% 50%, 100% 100%, 0 100%, 10% 50%);
    }

    .offer-container {
        background-image: url("https://img.freepik.com/free-vector/soft-yellow-watercolor-texture-background_1055-10236.jpg?t=st=1699538539~exp=1699539139~hmac=a0a3445fd0506232ffd71047637696a6fa539c0f7191f36a32df801d10625902");
        background-size: cover;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        border: 3px dashed red;
        padding: 20px;
        width: calc(80% - 60px);
        margin: 3rem 0;

        img {
            height: 15rem;
            aspect-ratio: 1/1;
            object-fit: contain;
        }

        .offer-details {
            h2 {
                font-size: 2rem;
                font-weight: 600;
                margin: 10px 0;
            }

            p {
                font-size: 1.2rem;
                font-weight: 500;
                margin: 25px 0 15px 0;

                .offer-code {
                    font-family: monospace;
                    border: 1px dashed black;
                    padding: 5px;
                }
            }
        }
    }
    
    .testimonials {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        gap: 2rem;
        margin: 2rem 0 3rem 0;
        padding: 0 5rem;

        .testimonial {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            gap: 1rem;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
            padding: 1rem;
            border-radius: 10px;
            width: 20rem;

            .person-info {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 1.5rem;
                width: 100%;

                img {
                    height: 5rem;
                    aspect-ratio: 1/1;
                    object-fit: cover;
                    border-radius: 50%;
                }

                .name-des {
                    h2 {
                        margin: 0;
                        font-size: 1.5rem;
                    }

                    p {
                        margin: 0;
                        font-size: 1.2rem;
                    }
                }
            }

            .testimony {
                p {
                    font-size: 18px;
                    font-weight: 300;
                    margin: 1.5rem 0;
                }
            }
        }
    }
}

.banner-carousal {
    margin-bottom: 20px;
    width: 100%;
    height: 750px;
    position: relative;
    overflow: hidden;

    .carousal-item {
        width: 100%;

        img {
            width: 100%;
            height: 750px;
            object-fit: cover;

            @media (max-width: 768px) {
                height: 300px;
            }
        }
    }

    @media (max-width: 768px) {
        height: 300px;
    }

    .carousal-control {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: rgba(0, 0, 0, 0.2);
        color: white;
    }

    .carousal-control-left {
        left: 10px;
    }

    .carousal-control-right {
        right: 10px;

    }

    .carousal-indicators {
        position: absolute;
        width: auto;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        padding: 5px 10px;
        border-radius: 20px;
        z-index: 1;
        display: flex;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.2);

        .carousal-indicator {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: white;
            margin: 0 5px;
            cursor: pointer;

            &.active {
                background-color: grey;
            }
        }
    }
}

.food-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    width: 80%;
    margin: 20px;
    padding: 20px;

    .food-item {
        // border: 1px solid black;
        background-color: var(--accent3);
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        width: 320px;
        padding: 10px;
        transition: all 0.3s ease-in-out;

        .img-div {
            position: relative;

            img {
                width: 100%;
                height: 200px;
                border-radius: 10px;
            }

            .offer-tag {
                background-color: red;
                width: 30px;
                height: 40px;
                padding: 0.2rem;
                clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 70%, 0 100%);
                position: absolute;
                top: 0;
                left: 20px;

                p {
                    position: relative;
                    top: 20%;
                    font-weight: 500;
                    margin: 0;
                    padding: auto;
                    text-align: center;
                    color: white;
                }
            }
        }

        .food-details {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 10px;
        }

        .inc-dec {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 10px;

            button {
                box-shadow: none;
            }

            .plus-minus-grp {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 10px;
            }

            .add-cart {
                width: 50%;
                height: 40px;
            }
        }

        // hover
        &:hover {
            transform: scale(1.02);
            // box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
        }
    }
}